<p-dialog [visible]="visible" (onHide)="hideDialog.emit()" width="500">

  <p-header>
    <div style="float:left" class="dialog-title">Einloggen</div>
    <div style="float:right">
      <button pButton icon="pi pi-times" class="dialog-close" (click)="hideDialog.emit()"></button>
    </div>

  </p-header>

  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="ui-g">
      <label class="ui-g-3">Username</label>
      <input pInput type="text" class="ui-g-9" formControlName="username" #userinput>
    </div>

    <div class="ui-g">
      <label class="ui-g-3">Password</label>
      <input pInput type="password" class="ui-g-9" formControlName="password">
    </div>

    <div class="ui-g">
      <p-checkbox formControlName="rememberMe" id="rememberMe" label="Automatisch anmelden"></p-checkbox>
    </div>
    <div class="ui-g">
      <button pButton type="submit" label="Einloggen"></button>
    </div>
  </form>

</p-dialog>
