<div class="header ui-g">

  <div class="btn-container-left">
    <button pButton icon="fa fa-bars"(click)="onClick()" class="toggle-menu"> </button>
  </div>
  <div class="group-container">
    <p-dropdown [options]="groups" (onChange)="onGroupSelect($event)" class="dropdown"  [style]="{'width':'250px', 'height': '20px'}" ></p-dropdown>
  </div>
  <span class="title">
    DSA-Online
    <ng-container *ngIf="versions">
      <ng-container *ngIf="versions.frontend == versions.backend; else diffVersions">({{versions.frontend}})</ng-container>
      <ng-template #diffVersions>Frontend: {{versions.frontend}} | Backend:{{versions.backend}}</ng-template>

  </ng-container>
  </span>

  <div class="btn-container">
    <button *ngIf="!auth.authenticated" pButton label="Login"  icon="fa fa-sign-out" (click)="login()" class="logout"><i class="icon-repeat" ></i> </button>
    <button *ngIf="auth.authenticated" pButton label="Logout" icon="fa fa-sign-out" (click)="logout()" class="logout"><i class="icon-repeat" ></i> </button>

  </div>



</div>

<app-login [visible]="showLogin" (hideDialog)="showLogin=false"></app-login>
