
<div class="ui-g centered" >
  <p-dropdown [options]="daySelect" (onChange)="onDayChange($event)"></p-dropdown>
  <p-dropdown [options]="monthSelect" (onChange)="onMonthChange($event)"></p-dropdown>
  <p-dropdown [options]="yearSelect" (onChange)="onYearChange($event)"></p-dropdown>
  <button pButton label="Jetzt" (click)="jetzt()"></button>

</div>
<div class="ui-g centered">
  {{monat}}
  {{jahr}}
</div>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  (eventClicked)="handleEvent('Clicked', $event.event)"
  [events]="events">

</mwl-calendar-month-view>
