<div style="margin-top:5px">Es ist NICHT möglich Ausrüstung zu entfernen! Dies resultiert vorerst in einem unerwarteten Fehler. Sollte bei dem hinzufügen von Gegenständen ein unerwarteter Fehler auftreten liegt dies wahrscheinlich daran, dass das Token keine Schreib-Rechte besitzt</div>
<div class="ui-g" style="margin-top:10px">
  <div class="ui-sm-12 ui-md-6">
    <span class="ui-float-label">
      <input type="text" pInputText style="width:100%" id="name" [(ngModel)]="name">
      <label for="name">Name</label>
    </span>
  </div>

  <div class="ui-sm-12 ui-md-4" >
    <span class="ui-float-label">
      <input type="text" pInputText style="width:100%" (keydown.enter)="save()" id="amount" [(ngModel)]="amount" pKeyFilter="int">
      <label for="amount">Anzahl</label>
    </span>
  </div>
  <div class="ui-sm-12 ui-md-1">
    <button pButton icon="pi pi-save" (click)="save()"></button>
  </div>
</div>
<p-table [value]="inventar" class="helden-info-tabelle">
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="6">
        Kein Gegenstand gefunden
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class>Name</th>
      <th class>Anzahl</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr>
      <td>{{data.gegenstand}}</td>
      <td>{{data.anzahl}}</td>
      <td>
        <!-- Deleting items is currently not correctly supported by the helden api-->
        <button pButton icon="pi pi-trash" (click)="deleteItem(rowIndex)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
