
<p-table [value]="data" class="helden-info-tabelle">
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="7">
        Kein Held gefunden
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="name">Name</th>
      <th class="last-change">Letzte Änderung</th>
      <th class="public">Öffentlich</th>
      <th class="aktiv" >Aktiv</th>
      <th class="version" >Version</th>
      <th class="actions"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.lastChanged |date}}</td>
      <td *ngIf="edit">
        <p-inputSwitch binary=true [ngModel]="data.oeffentlich" (onChange)="updatePublic(data, $event)"></p-inputSwitch></td>
      <td *ngIf="!edit"><input class="readonly-checkbox" type="checkbox" ngModel="{{data.oeffentlich}}" (click)="preventClick()"></td>
      <td *ngIf="edit"><p-inputSwitch binary=true [ngModel]="data.active" (onChange)="updateActive(data, $event)"></p-inputSwitch></td>
      <td *ngIf="!edit"><input class="readonly-checkbox" type="checkbox" ngModel="{{data.active}}" (click)="preventClick()"></td>
      <td>{{data.version}}</td>
      <td class="actions-body">
        <!--<button pButton icon="pi pi-cloud-download" pTooltip="Versionen herunterladen" (click)="versionenHerunterladen(data)"></button>-->
        <p-menu [popup]="true" #menu [model]="heldenOptions" appendTo="body"></p-menu>
        <button type="button" pButton icon="fa fa-fw fa-list" (click)="context = data; menu.toggle($event) "></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-alte-version-laden-dialog [held]="alteVersionLadenHeld" (dialogClosed)="dialogClosed($event)" (forceReload)="onForceReload()"></app-alte-version-laden-dialog>
<app-alte-version-hochladen [held]="alteVersionHochladenHeld" (dialogClosed)="hochladenDialogClosed()" (versionUploaded)="onForceReload()"></app-alte-version-hochladen>
<app-select-gruppe-dialog [held]="selectGruppeHeld" (dialogClosed)="groupSelected($event)"></app-select-gruppe-dialog>
