
<p-table [value]="data" class="helden-info-tabelle">
  <ng-template pTemplate="header">
    <tr>
      <th class="name">Name</th>
      <th class="last-change">Letzte Änderung</th>
      <th class="edit-gruppe" *ngIf="editGruppe" >Gruppe</th>
      <th class="public">Öffentlich</th>
      <th class="aktiv" >Aktiv</th>
      <th class="version" >Version</th>
      <th class="actions" ></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.lastChanged |date}}</td>
      <td class="edit-gruppe" *ngIf="editGruppe"><p-dropdown [options]="gruppen" (onChange)="onDropdownSelected($event.value, data.id)" [placeholder]="data.gruppe"></p-dropdown></td>
      <td *ngIf="editOeffentlich">
        <p-inputSwitch binary=true [ngModel]="data.oeffentlich" (onChange)="updatePublic(data, $event)"></p-inputSwitch></td>
      <td *ngIf="!editOeffentlich"><input class="readonly-checkbox" type="checkbox" ngModel="{{data.oeffentlich}}" (click)="preventClick()"></td>
      <td *ngIf="editOeffentlich"><p-inputSwitch binary=true [ngModel]="data.active" (onChange)="updateActive(data, $event)"></p-inputSwitch></td>
      <td *ngIf="!editOeffentlich"><input class="readonly-checkbox" type="checkbox" ngModel="{{data.active}}" (click)="preventClick()"></td>
      <td>{{data.version}}</td>
      <td>
        <!--<button pButton icon="pi pi-users" pTooltip="Alle Versionen anzeigen" (click)="alteVersionLaden(data)" *ngIf="data.version != 1"></button>-->
        <!--<button pButton icon="pi pi-search" pTooltip="Mit voriger Version vergleichen" (click)="vorigeVersionVergleich(data)" *ngIf="data.version != 1"></button>-->
        <!--<button pButton icon="pi pi-cloud-download" pTooltip="Versionen herunterladen" (click)="versionenHerunterladen(data)"></button>-->
        <p-menu [popup]="true" #menu [model]="heldenOptions"></p-menu>
        <button type="button" pButton icon="fa fa-fw fa-list" label="Show" (click)="menu.toggle($event); context = data"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-alte-version-laden-dialog [held]="alteVersionLadenHeld" (dialogClosed)="dialogClosed($event)" (forceReload)="onForceReload()"></app-alte-version-laden-dialog>
<app-alte-version-hochladen [held]="alteVersionHochladenHeld" (dialogClosed)="hochladenDialogClosed()" (versionUploaded)="onForceReload()"></app-alte-version-hochladen>
