
<p-table [value]="data">
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width:100px">Name</th>
      <th style="width:100px">Letzte Änderung</th>
      <th *ngIf="editGruppe" >Gruppe</th>
      <th style="width:80px" >Öffentlich</th>
      <th style="width:50px" >Aktiv</th>
      <th style="width:50px">Version</th>
      <th style="width:300px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.lastChanged |date}}</td>
      <td>{{data.gruppe}}</td>
      <td *ngIf="editOeffentlich"><p-checkbox binary=true [ngModel]="data.oeffentlich" (onChange)="updatePublic(data, $event)"></p-checkbox></td>
      <td *ngIf="!editOeffentlich"><input class="readonly-checkbox" type="checkbox" ngModel="{{data.oeffentlich}}" (click)="preventClick()"></td>
      <td *ngIf="editOeffentlich"><p-checkbox binary=true [ngModel]="data.active" (onChange)="updateActive(data, $event)"></p-checkbox></td>
      <td *ngIf="!editOeffentlich"><input class="readonly-checkbox" type="checkbox" ngModel="{{data.active}}" (click)="preventClick()"></td>
      <td>{{data.version}}</td>
      <td>
        <button pButton icon="pi pi-user" (click)="heldLaden(data)" pTooltip="Held laden"></button>
        <button pButton icon="pi pi-upload" (click)="alteVersionHochladen(data)" pTooltip="Alte Version hochladen" *ngIf="editGruppe"></button>
        <button pButton icon="pi pi-users" pTooltip="Alle Versionen anzeigen" (click)="alteVersionLaden(data)" *ngIf="data.version != 1"></button>
        <button pButton icon="pi pi-search" pTooltip="Mit voriger Version vergleichen" (click)="vorigeVersionVergleich(data)" *ngIf="data.version != 1"></button>
        <button pButton icon="pi pi-cloud-download" pTooltip="Versionen herunterladen" (click)="versionenHerunterladen(data)"></button>

      </td>
    </tr>
  </ng-template>
</p-table>

<app-alte-version-laden-dialog [held]="alteVersionLadenHeld" (dialogClosed)="dialogClosed($event)" (forceReload)="onForceReload()"></app-alte-version-laden-dialog>
<app-alte-version-hochladen [held]="alteVersionHochladenHeld" (dialogClosed)="hochladenDialogClosed()" (versionUploaded)="onForceReload()"></app-alte-version-hochladen>
