<app-abenteuerlog [kampagne]="kampagne.id"></app-abenteuerlog>
<div class="ui-g" *ngIf="!isMeister">
  Abenteuer-Erstellung ist nur für Gruppen deren Meister sie sind verfügbar
</div>
<form [formGroup]="form" (submit)="onSubmit()">
  <div class="ui-g">
    <label class="ui-g-3">Name</label>
    <input pInput type="text" class="ui-g-9" formControlName="name" #userinput>
  </div>
  <div class="ui-g">
    <label class="ui-g-3">AP</label>
    <input pInput type="number" class="ui-g-9" formControlName="ap">
  </div>
  <div class="ui-g">
    <label class="ui-g-3">Datum</label>
    <input pInput type="text" class="ui-g-9" formControlName="datum">
  </div>
  <div class="ui-g">
    <div class="ui-g-3">Gruppe</div>
    <div type="text" class=ui-g-9 >{{gruppenName}}</div>
  </div>

  <div class="ui-g">
    <label class="ui-g-3">Kampagne</label>
    <div class="ui-g-9" *ngIf="kampagneName; else kampagneDropdown">{{kampagneName}}</div>
    <ng-template #kampagneDropdown>
      <p-dropdown class=ui-g-9 formControlName="kampagne" [options]="kampagnen" [style]="{width: '100%'}" placeholder="..."></p-dropdown>
    </ng-template>

  </div>
  <div class="ui-g">
    <button pButton type="submit" label="Erstellen" [disabled]="!isMeister"></button>
  </div>
</form>
