<form [formGroup]="form" (submit)="onSubmit()">
  <div class="ui-g">
    <label class="ui-g-3">Name</label>
    <input pInput type="text" class="ui-g-9" formControlName="name" #userinput>
  </div>

  <div class="ui-g">
    <label class="ui-g-3">Gruppe</label>
    <p-dropdown class=ui-g-9 formControlName="gruppe" [options]="gruppen" placeholder="..." (onChange)="onGruppeChange($event)"></p-dropdown>
  </div>

  <div class="ui-g" [formGroup]="getBonusAllControl()">
    <label class="ui-g-3">AP</label>
    <input pInput type="number" class="ui-g-9" formControlName="ap">
  </div>
  <div class="ui-g">
    <label class="ui-g-3">SE</label>
    <input pInput type="text" class="ui-g-9" (keydown.enter)="addSeForAll($event)">
  </div>
  <div class="ui-g" *ngFor="let se of getSesForAll(); let i= index">
    <span class="ui-g-9">{{se}}</span>
    <button class="ui-g-3 " pButton icon="pi pi-trash" (click)="removeSeForAll(i)"></button>
  </div>

  <div class="ui-g">
    <p-dropdown class=ui-g-9 [options]="helden" (onChange)="onHeldChange($event)"></p-dropdown>
    <button pButton label="Bonus eintragen" class="dropdown-button" (click)="addBonusforHeld()"></button>
  </div>
  <p-panel *ngFor="let bonusHeld of bonusHelden" [header]="heldname(bonusHeld)" [toggleable]="true" [formGroup]="getBonus(bonusHeld)">
    <div class="ui-g">
      <label class="ui-g-3">AP</label>
      <input pInput type="number" class="ui-g-9" formControlName="ap">
    </div>
    <div class="ui-g">
      <label class="ui-g-3">SE</label>
      <input pInput type="text" class="ui-g-9" (keydown.enter)="addSeForHeld($event, bonusHeld)">
    </div>
    <div class="ui-g" *ngFor="let se of getSesForHeld(bonusHeld); let i= index">
      <span class="ui-g-9">{{se}}</span>
      <button class="ui-g-3" pButton icon="pi pi-trash" (click)="removeSeForHeld(bonusHeld, i)"></button>
    </div>

  </p-panel>
  <div class="ui-g">
    <button pButton type="submit" label="Erstellen"></button>
  </div>
</form>
