<div class="ui-g" *ngIf="canViewAll">
  <span class="public-span">Nur öffentliche zeigen</span><p-inputSwitch [ngModel]="true" onLabel="Ja" offLabel="Nein" (onChange)="onPublicChange($event)"></p-inputSwitch>
</div>
<div class="ui-g">
  <span class="public-span">Nur aktive anzeigen</span><p-inputSwitch [ngModel]="true" onLabel="Ja" offLabel="Nein" (onChange)="onActiveChange($event)"></p-inputSwitch>
</div>

<div class="loader" *ngIf="loading; else infoTable"></div>
<ng-template #infoTable>
  <app-helden-info-tabelle *ngIf="gruppe" [editGruppe]="editHelden" [editOeffentlich]="editHelden" [data]="gruppe.helden" (forceReload)="forceReload()"></app-helden-info-tabelle>

</ng-template>
