<p-dialog (onHide)="onClose.emit(false)" [visible]="gruppeid" [positionTop]="50" [positionLeft]="20">

  <p-header>
    <div style="float:left" class="dialog-title">AP-Bonus eintragen</div>
    <div style="float:right">
      <button pButton icon="pi pi-times" class="dialog-close" (click)="onClose.emit(false)"></button>
    </div>


  </p-header>
  <form [formGroup]="form" (submit)="submit()">
    <div class="ui-g">
      <label class="ui-g-3">Held</label>
      <p-dropdown class="ui-g-9" placeholder="..." formControlName="held" [options]="helden" appendTo="body"></p-dropdown>
    </div>
    <div class="ui-g">
      <label class="ui-g-3">AP</label>
      <input type="number" pInputText class="ui-g-9" formControlName="ap">
    </div>
    <div class="ui-g">
      <button type="submit" pButton label="Speichern"></button>
    </div>
  </form>

</p-dialog>
