<p-card *ngIf="differenceInfo">
  <div class="ui-g">
    <div class="ui-g-3"><b>Verglichener Held</b></div>
    <div class="ui-g-9">{{differenceInfo.heldname}}</div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3"><b>Vergleiche Versionen</b></div>
    <div class="ui-g-9">{{differenceInfo.from}} -  {{differenceInfo.to}}</div>
  </div>

</p-card>

<p-accordion *ngIf="data">
  <!--<p-accordionTab header="Ereignisse" *ngIf="!data.ereignis.empty">-->
    <!--<app-ereignisse-tabelle [data]="data.ereignis.neu" ></app-ereignisse-tabelle>-->
  <!--</p-accordionTab>-->
  <p-accordionTab header="Talente" *ngIf="data.talente.length !=0">
    <div>Änderungen</div>
    <p-table [value]="data.talente" >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Alt</th>
          <th>Neu</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.oldValue == null? '-' : data.oldValue}}</td>
          <td>{{data.newValue == null? '-' : data.newValue}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Zauber" *ngIf="data.zauber.length !=0">
    <p-table [value]="data.zauber">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Alt</th>
          <th>Neu</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.oldValue == null? '-' : data.oldValue}}</td>
          <td>{{data.newValue == null? '-' : data.newValue}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Vorteile" *ngIf="data.vorteile.length !=0">
    <p-table [value]="data.vorteile" >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Alt</th>
          <th>Neu</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.oldValue == null? '-' : data.oldValue}}</td>
          <td>{{data.newValue == null? '-' : data.newValue}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>

</p-accordion>
