<app-held-quicknav></app-held-quicknav>
<h2>Steigern existiert momentan nur als Demo da die API es nicht erlaubt SE's zu benutzen</h2>
<div *ngIf="loadingAp; else displayAp" class="loader" style="height:80px; width:80px;"></div>
<ng-template #displayAp>
  <div style="height:120px;">
    <div>Freie AP: {{freieap}} | Gesamt: {{gesamtap}}</div>
    <div class="ui-g" style="margin-top:10px">
      <div class="ui-sm-12 ui-md-6">
    <span class="ui-float-label">
      <input type="text" pInputText style="width:100%" id="name" [(ngModel)]="name">
      <label for="name">Name</label>
    </span>
      </div>

      <div class="ui-sm-12 ui-md-4" >
    <span class="ui-float-label">
      <input type="text" pInputText style="width:100%" (keydown.enter)="saveEreignis()" id="amount" [(ngModel)]="amount" pKeyFilter="int">
      <label for="amount">AP</label>
    </span>
      </div>
      <div class="ui-sm-12 ui-md-1">
        <button pButton icon="pi pi-save" (click)="saveEreignis()"></button>
      </div>
    </div>
  </div>

</ng-template>

<div class="loader" *ngIf="loading; else result"></div>
<ng-template #result>
  <p-table [value]="steigerungen">
    <ng-template pTemplate="header">
      <tr>
        <th>Talent</th>
        <th>Lernmethode</th>
        <th>Talentwert</th>
        <th>Kosten</th>
        <th *ngIf="write"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{data.talent}}</td>
        <td>
          <p-dropdown [placeholder]="data.lernmethode" [options]="lernmethoden" (onChange)="lernmethodeChange(data, $event)" class="dropdown"  [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
        </td>
        <td>{{data.talentwert}}</td>
        <td>{{data.kosten}}</td>
        <td *ngIf="write">
          <button pButton  [disabled]="data.loading" [label]="data.loading? '' :'Steigern'" [icon]="data.loading? 'pi pi-spinner pi-spin': ''"
                  (click)="steigern(data)" [disabled]="freieap < data.kosten" style="width:91px; height:29px;"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
