.centered {
  align-items: center;
  justify-content: center;
}

input {
  width:100px;
  text-align: center;
}

p-dropdown {
  text-align: center;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}
