<div class="loader" *ngIf="loading; else content"></div>
<ng-template #content>

  <p-card title="Assets">
    <div *ngIf="assets.length === 0; else assets" style="margin-left:10px; margin-top:10px">Es sind keine Assets für diese Kampagne vorhanden</div>
    <ng-template #assets>
      <p-galleria [images]="primeAssets" (onImageChange)="selectedAssetIndex = $event.index"></p-galleria>
      <button pButton icon="pi pi-trash"(click)="deleteAsset()"></button>
    </ng-template>
  </p-card>



  <p-card *ngIf="edit" title="Asset anlegen">


    <div class="ui-g">
      <label for="assetName">Name: </label>
      <input type="text" pInputText id="assetName" [(ngModel)]="assetName">

    </div>
    <div class="ui-g">
      <p-checkbox (onChange)="assetHidden = $event" label="Unsichtbar"></p-checkbox>
    </div>



    <p-fileUpload name="file" [url]="uploadUrl"
                  (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)">
    </p-fileUpload>
    {{uploadUrl}}
  </p-card>
</ng-template>

