
<ng-container *ngIf="monat">

  <!--<div class="ui-g" *ngFor="let item of monat.legende">-->
    <!--<span [style.background-color]="item.farbe">{{item.name}}</span>-->
  <!--</div>-->

  <app-edit-dsa-date [date]="heute" (dateChanged)="heuteChanged.next($event)"></app-edit-dsa-date>
  <table *ngIf="monat">
    <tr *ngFor="let woche of monat.wochen">
      <td *ngFor="let tag of monat.tage | slice:woche:woche+7" [class.past]="!tag.inMonat" [class.heute]="tag.heute" (click)="onDayClick(tag)">
        <ng-container *ngIf="tag.disabled; else enabled">

        </ng-container>
        <ng-template #enabled>
          <div class="ui-g date-row">
            <div class="date-display">{{tag.tag}}</div>
          </div>
          <div class="ui-g event-row">
            <div class="event" *ngFor="let event of tag.events" [style.background-color]="event.color" (click)="onEventClick($event, event);">
              {{event.name}}
            </div>
          </div>
        </ng-template>




      </td>
    </tr>


  </table>

  <div *ngIf="meister" class="">
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-5">
        <app-edit-dsa-date [(date)]="createEventDatum"></app-edit-dsa-date>
      </div>
      <div class="ui-sm-12 ui-md-6">
        Name: <input pInputText [(ngModel)]="createEventName">
      </div>

      <div class="ui-md-6 ui-sm-12">
        <button pButton (click)="createEvent()" label="Event erstellen" [disabled]="!createEventName"></button>
      </div>
    </div>




  </div>


</ng-container>

