<p-card *ngIf="held">
  <div class="ui-g">
    <div class="ui-g-3 ui-sm-6"><b>Geladener Held:</b></div>
    <div class="ui-g-9" ui-sm-6>{{held.angaben.name}}</div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3 ui-sm-6"><b>Version:</b></div>
    <div class="ui-g-9 ui-sm-6" >{{version.version}}</div>
  </div>

  <div class="ui-g">
    <div class="ui-g-3 ui-sm-6"><b>Schreibrechte:</b></div>
    <div class="ui-g-9 ui-sm-6" >{{version.edit === true? 'Ja': 'Nein'}}</div>

  </div>




</p-card>
