<app-held-quicknav></app-held-quicknav>
<div class="ui-g" style="margin:5px">
  <p-checkbox [ngModel]="displayProbeFull" [binary]="true" (onChange)="displayProbeFull = $event" label="Eigenschaften in Probe anzeigen"></p-checkbox>
</div>
<button pButton label="Spracherkennung starten" (click)="recognize()"></button>
<table *ngIf="held">
  <tr>
    <td *ngFor="let eigenschaft of eigenschaften">
      {{eigenschaft.short}} {{getEigenschaftsWert(eigenschaft.name)}}
    </td>
  </tr>
</table>

<app-favoriten-tabelle [displayProbeFull]="displayProbeFull" [data]="speechData" *ngIf="held" [allowAddFavorites]="allowAddFavorites"
                    [favoriten]="favoriten" (favoriteAdded)="addFavorite($event)" (favoriteRemoved)="removeFavorite($event)"></app-favoriten-tabelle>
<app-favoriten-tabelle [displayProbeFull]="displayProbeFull" [data]="data" *ngIf="held" [allowAddFavorites]="allowAddFavorites"
                    [favoriten]="favoriten" (favoriteAdded)="addFavorite($event)" (favoriteRemoved)="removeFavorite($event)"></app-favoriten-tabelle>
