<ng-container *ngIf="abenteuer; else loading">
  <div class="ui-g">
    <button pButton label="Abenteuerlog" (click)="back()"></button>
    <button pButton label="Kampagnen-Ansicht" (click)="backToKampagne()"></button>
    <button pButton label="Im Kalender ansehen" (click)="viewInCalendar()"></button>
    <button pButton label="Kopieren"  (click)="copyToClipboard()"></button>
    <button pButton label="Abenteuer erstellen" (click)="backToCreate()" *ngIf="abenteuer.meister"></button>

  </div>
  <div class="ui-g">
    <div class="ui-g-12" style="text-align: center"><b><span style="font-size: 2em" *ngIf="!editName; else nameEditor">Name: {{abenteuer.name}}</span></b>
      <button pButton icon="pi pi-pencil" (click)="editName = true" *ngIf="abenteuer.meister"></button>
      <ng-template #nameEditor>
        <input type="text" [(ngModel)]="abenteuer.name" (keydown.enter)="finishEditName()">
      </ng-template>
    </div>

    <div class="ui-g-12" style="text-align:center">
      Datum:
      <app-edit-dsa-date *ngIf="editDatum; else displayDate" (enter)="finishEditDatum()" [date]="abenteuer.datum"></app-edit-dsa-date>
      <ng-template #displayDate>
        <span>{{abenteuer.datum.toString()}}</span>
        <button pButton icon="pi pi-pencil" (click)="editDatum = true" *ngIf="abenteuer.meister"></button>
      </ng-template>


    </div>
  </div>
  <div class="ui-g" *ngIf="abenteuer.meister">

    <button pButton label="SE hinzufügen" (click)="addSeGruppeid = abenteuer.gruppeId"></button>
    <button pButton label="AP hinzufügen" (click)="addApGruppeid = abenteuer.gruppeId"></button>
    <button pButton label="LM hinzufügen" (click)="addLmGruppeid = abenteuer.gruppeId"></button>
    <button pButton label="Notiz hinzufügen" (click)="addNoteGruppeid = abenteuer.gruppeId"></button>
  </div>

  <app-abenteuer-anzeigen [abenteuer]="abenteuer" (reload)="reload()"></app-abenteuer-anzeigen>
</ng-container>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>

<app-add-se-bonus-dialog *ngIf="abenteuer" [abenteuer]="abenteuer.id" [gruppeid]="addSeGruppeid" (onClose)="onAddSeDialogClose($event)"></app-add-se-bonus-dialog>
<app-add-ap-bonus-dialog *ngIf="abenteuer" [abenteuer]="abenteuer.id" [gruppeid]="addApGruppeid" (onClose)="onAddApDialogClose($event)"></app-add-ap-bonus-dialog>
<app-add-lm-bonus-dialog *ngIf="abenteuer" [abenteuer]="abenteuer.id" [gruppeid]="addLmGruppeid" (onClose)="onAddLmDialogClose($event)"></app-add-lm-bonus-dialog>
<app-add-note-dialog *ngIf="abenteuer" [abenteuer]="abenteuer.id" [gruppeid]="addNoteGruppeid" (onClose)="onAddNoteDialogClose($event)"></app-add-note-dialog>
