.header {

  font-size: 16px;
  background-color:#404c51;
  height: 50px;
  line-height:50px;
  border: 2px solid #404c51;
  border-radius:4px;
}

.header.mobile {
  height:100px;
}


.fa-bars {
  width:40px;
  line-height:50px;
  margin-left:10px;
  cursor:pointer;
}

.title {
  text-align: center;
  width: calc(100% - 500px);
  height:50%;
  line-height:50px;
  color:#DCDCDC;
  margin-right:70px;
}

.mobile .title{
  width: calc(100% - 170px);
  margin-right:0px;
}


.new {
  font-size: 32px;
}

.btn-container {
  width: 100px;
  height:20px;
  line-height:50px;
  margin-right:10px;

}

.btn-container-left {
  width: 50px;
  height:20px;
  line-height:50px;
  margin-left:10px;
}

.group-container {
  height:30px;
}

.mobile .group-container{
  margin: auto;
}

.logout{
  width: 100%;
}
