@import "../node_modules/angular-calendar/css/angular-calendar.css";

.centered {
  margin: auto;
  width: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
}


@media only screen and (max-device-width: 480px) {
  .ui-accordion .ui-accordion-content {
    padding:0px !important;
  }
}


.abenteuerlog {
  width: 100%;
}


.fullsize {
  max-width: 100%;
  width:10000px;
}

.ui-dropdown .ui-dropdown-label{
  height:20px;
  line-height:14px;
}
