.centered {
  margin: auto;
  /*border: 3px solid green;*/
  padding: 10px;
}


@media only screen and (max-device-width: 480px) {
  .ui-accordion .ui-accordion-content {
    padding:0px !important;
  }
}


.abenteuerlog {
  width: 100%;
}

.ui-dropdown .ui-dropdown-label{
  height:20px;
  line-height:14px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ng-trigger-overlayAnimation {
  /*top: 0px !important;*/
}

.ui-dialog-titlebar-icon {
  display:none;
}


.dialog-close {
  width:25px;
  height:25px;
}

.dialog-title {
  line-height:20px;
}

.ui-sidebar {
  padding: 0px !important;
}

.ui-g-3, .ui-g-9 {
  padding-left:10px !important;
  padding: 0em !important;
}

.abenteuer-held-card-header .ui-card-body {
  padding:5px;
}


.ui-dialog {
  width: 80%;
}



.ui-dialog-content .ui-widget-content {
  /*width: calc(100% - 0px);*/
}

table {
  min-width:100%;
  width: initial !important;
}
